<!--navigation link-->

<nav  [hidden]=flag class="container-fluid navbar navbar-expand-lg navbar-light fixed-top" style="background-color:#91ee45f3;">
    <a class="navbar-brand" href="#" style="font-family: 'Francois One', sans-serif;font-size:35px;">
        <img id="bus-icon" src="/assets/icon01.jpg" > FabRoadies
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div  style="background-color: #91ee45f3;" class="collapse navbar-collapse offset-md-0.6 " id="navbarSupportedContent">
        <ul  class="navbar-nav mr-auto offset-md-4">
            <li  class="nav-item ">
                <a class="nav-link fs-5 " href="#abouts"><b class="navlinks">About Us</b></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fs-5" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <b class="navlinks">Manage Bookings</b>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                   <!-- <li><a class="dropdown-item" href="#"><b>Change Date</b></a></li>  -->
                    <li ><button [disabled]=!log class="dropdown-item"  routerLink="/cancletrip"><b>Cancel Trip</b></button></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5" href="#bus-routes"><b class="navlinks">Top Bus Routes</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5" href="#feedback-form"><b class="navlinks">Contact Us</b></a>
            </li>
         <!--  <button type="submit" class="btn btn-success" id="login-btn" routerLink='/login'>Login</button>
            <button type="submit" class="btn btn-success" id="signUp-btn" routerLink='/signup'>Sign Upsss</button>
        -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fs-5" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                  <!--  <b>User Profile</b>  -->
                    <img src="/assets/logo.png" style="height:40px;"/>
                </a>
                <ul  class="dropdown-menu back " aria-labelledby="navbarDropdown">
                    <li ><a   [hidden]=log class="dropdown-item effect"routerLink='/login' ><b>Login</b></a></li>
                    <li><a [hidden]=log class="dropdown-item effect"routerLink='/signup' ><b>Sign Up</b></a></li>
                    <li><a [hidden]=!log class="dropdown-item effect" routerLink='/user-update'><b>Edit Profile</b></a></li>
                    <li><a [hidden]=!log class="dropdown-item effect" routerLink='/mytrip'><b>My Trips</b></a></li>
                    <li><a [hidden]=!log class="dropdown-item effect" (click)="logout()" ><b>Logout</b></a></li>
                </ul>
            </li>         
        </ul>
    </div>
</nav>
<!-------------admin navbar-->
<nav [hidden]=!flag class="navbar navbar-expand-lg navbar-light" style="background-color:#91ee45f3;">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink='/admin-browse' style="font-family: 'Francois One', sans-serif;font-size:30px;">
            <img id="bus-icon" src="/assets/icon01.jpg" (click)="home()"> FabRoadies</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse offset-md-5" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link fs-5" routerLink='/add-bus'><b class="navlinks">Add Bus</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" routerLink='/admin_bus-list'><b class="navlinks">List Of Bus</b></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fs-5" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <b class="navlinks">
                        Search Bus</b>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item fs-5" routerLink='/search'>Bus Number</a></li>
                        <!-- <li><a class="dropdown-item" href="#">Destination</a></li>
                        <li><a class="dropdown-item" href="#">Departure Date</a></li> -->
                    </ul>
                </li>
                <button class="btn btn-success mx-3 fs-5" (click)="logout()" >Logout</button>
            </ul>
        </div>
    </div>
</nav>

<!--------------------->






<!----        -->
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>

<!--Footer-->
<footer class="footer mt-auto py-3 bg-light">

    <div class="container d-flex d-row  justify-content-center align-items-center">
        <img class="foot-icon" src="/assets/facebook-icon.png"><img class="foot-icon" src="/assets/insta-icon.jpg"><img
            class="foot-icon" src="/assets/twitter-icon02.jpg">
    </div>
    <h6 class="text-center text-muted">Contact Us at (+91 1234567890)</h6>
</footer>
