.ss{
    color: #842029;
    background-color: #f8d7da;
    font-family: cursive;
    border-radius: .25rem;
    border-color: #f5c2c7;
}

#ss{

        color: indianred;
        background-color: lawngreen;
        font-family: cursive;
}