
<div class="bg" >

    <!--User Details Update Part-->
    <div class="main container-fluid">
        <div class="heading my-4">
            <h2 class="fs-2"><b>Edit Your Profile</b></h2>
        </div>
        <div class="login">
            <div class="row">
                <div class="col-5">
                    <div class="container my-4">
                        <div class="card" style="width: 20rem; height: 12rem;">
                            <img src="assets/Images/3.jpg" class="card-img-top">
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <form (ngSubmit) = "onUpdate()" #frm = ngForm>
                        <div class="form mb-3">
                            <label class="form-label"><b>User Id</b></label>
                            <input name ="id" [(ngModel)]="user.id" type="text" class="form-control rounded-pill border border-3 border-danger"
                            required readonly>
                           
                        </div>
                        <div class="form mb-3">
                            <label class="form-label"><b>Name</b></label>
                            <input name ="name" [(ngModel)]="user.name" type="text" class="form-control rounded-pill border border-3 border-danger"
                            placeholder="Your Full Name"  required >
                           
                        </div>
                        <div class="form mb-3">
                            <label class="form-label"><b>Contact No.</b></label>
                            <input name ="phone" [(ngModel)]="user.phoneNumber" type="tel" class="form-control rounded-pill border border-3 border-danger"
                             placeholder="Enter mobile no."required >
                            
                        </div>
                        <div class="form mb-3">
                            <label class="form-label"><b>Email address</b></label>
                            <input name ="email" [(ngModel)]="user.email" type="email" class="form-control rounded-pill border border-3 border-danger"
                             placeholder="name@example.com"required>
                            
                        </div>
                        <div class="form mb-3">
                            <label class="form-label"><b>Password</b></label>
                            <input name ="password" [(ngModel)]="user.password" type="password" class="form-control rounded-pill border border-3 border-danger"
                          required>
                          
                        </div>
                        <!--<div class="form mb-3">
                            <label class="form-label"><b>Confirm Password</b></label>
                            <input name ="password"  type="password" class="form-control rounded-pill border border-3 border-danger" required >
                           
                        </div>-->
                        <div class="btn-group" role="group">
                            <button type="submit" [disabled]=!frm.valid class="btn btn-danger btn-lg">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
