<!--@Author: Jaspreet-->
<!--@Version 1.0-->
<!--Page to be loaded with filtered search results of buses-->
<!--To Do - link view seats button to gui to bus seats-->

<div>
<div style="height:10px"></div>
<!--Main ticket booking logic-->
<div  class="ticketbooking" >
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-10">
                    <div class="row text-center">
                        <h1 class=" text-capitalize col-md-12 mb-3 text-center">Available buses are</h1>
                    </div>
                    <hr>
                    <p class="MLine"> All Buses include Safety as a Major Factor!!</p>
                <div class="row mb-3 card card-body" id="Title"> <!--Headings Bar - Single Row-->
                    <div class="row">
                        <div class="col-md-3 text-right"> <!--Heading Agency-->
                            <p> Bus Agency</p>
                        </div>
                        <div class="col-md-3 text-right"> <!--Heading Depart-->
                            <p> Departure </p>
                        </div>
                        <div class="col-md-3 text-right"> <!--Heading Arrival-->
                            <p> Arrival </p>
                        </div>
                        <div class="col-md-2 text-right"> <!--Heading Fare-->
                            <p> Fare </p>
                        </div>
                        <!-- <div class="col-md-1 text-right">
                            <p> Seats</p>
                        </div>  -->
                    </div>
                </div>
                <div class="row mb-3 card card-body" *ngFor="let b of buses">           <!--opening div for single card body *ngFor="let b of buses" to be added-->  
                    <div class=" row">                          <!--Row1 Card 1-->
                        <div class="col-md-3 text-right">
                            <p>{{b.agency}}</p>        <!--Agency {{b.agency}}-->
                        </div>
                        <div class="col-md-3 text-right ">
                            <p>{{b.departureCity}} </p>               <!--Departure Time {{b.departuretime}} -->
                        </div>
                        <div class="col-md-3 text-right">
                            <p> <b>{{b.arrivalCity }}</b></p>                    <!--Arrival Time {{b.arrivaltime}} Not defined in backend yet--> 
                        </div>
                        <div class="col-md-2 text-right">
                            <p>{{b.price | currency: "INR" : "symbol"}}</p>                 <!--Price {{b.price}}-->
                        </div>
                     <!--
                         <div class="col-md-1">
                            <p>{{b.seats}}</p>                          Seats {{b.seats}}
                        </div>
                    -->
                    </div>
                    <div class="row">                           <!--Row 2 Card 1-->
                        <div class="col-md-3 text-right">
                            <p>  {{b.busType}}</p>                 <!--Bustype {{b.busType}}-->
                        </div>
                        <div class="col-md-3 text-right">
                            <p>{{b.departuretime}}</p>             <!--Departure City {{b.departureCity}}-->
                        </div>
                       <!--<div class="col-md-3">
                            <p> {{b.arrivalCity}} </p>                Arrival City  {{b.Arrival}}
                        </div>
                         <div class="col-md-1"></div> -->
                     

                        <div class="col-md-6 text-right">       <!--View Seats Button-->
                            <button [disabled]=!log value="View Seats"type="button" class="btn btn-primary"   (click)="saveBus(b)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                               <p> View Seats</p>
                              <!-- <img src="/assets/loader.gif" alt="funny GIF" width="100%">-->
                            </button>
                        </div>
                    </div>
                </div> <!--Closing div for single card body-->
            </div> 
        </div>
    </div>
</div>



<!---nobus-->
<div  style="height:20px"></div>




  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
       <center> <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel"><b style="color:rosybrown;font-size:20px;">Select Your Luxury Seat</b></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
    </center>
        <div class="modal-body">
        <div style="height: 700px;">
          
            <app-select-seat ></app-select-seat>  
        </div>
        </div>
        
      </div>
    </div>
  </div>


  
 
